# SERVER APPS
PORT=8000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sonkhipto?schema=public
# Run `openssl rand -base64 32` to generate a 32 character long token
JWT_SECRET=

# CLIENT APPS
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_API_URL=http://localhost:8000